- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML)
- if user_signed_in? and @track.user == current_user
  - content_for :banner, "You recommend picking up #{@track.title} this way."
- else
  - content_for :banner, "#{@track.user.email} recommends picking up #{@track.title} this way."

- if @track.units.count == 0
  
  .ui.stackable.grid
    .six.wide.column
    .four.wide.column
      .ui.card
        .image.dimmable
          %img{:src => "/images/steve.jpg"}/
      -if user_signed_in? and current_user == @track.user
        .large.ui.button.unit Add first unit!
        %p Tracks are composed of units, that convey information, one step at a time.
        %p So.. if a reader wants to pick up #{@track.title}, what's the best place to start?


      - else

        %h4.ui.header You gotta wait!
        %p While #{@track.user.email} recommends some units for you to read up, why not grab some coffee?

- else
  .ui.stackable.grid
    .two.wide.column
    .twelve.wide.column
      -if user_signed_in? and current_user == @track.user
        .large.ui.button.unit Add another unit
        .large.ui.button.right.floated
          = link_to "Delete Track", @track_path, method: :delete, data: { confirm: "Are you sure?" }

      - @track.levels.each do |level|
        %h3.ui.horizontal.header.divider
          %a{:href => "#level#{level.level}", :name => "level#{level.level}"}
            %i.level.down.icon
            = "Level #{level.level}"

        -#
          .ui.segment
            %h4.ui.header So you want to build things
            %p Hackers primarily build things. That's what makes them happy.
            %p There's a common misconception, that leads people into believing hackers are the equivalent of criminal troublemakers.. you know, breaking into your Facebook account and everything.

        .ui.stackable.three.column.grid
          - level.units.each do |unit|
            -#
              .column
                  .large.ui.button.unit Add another unit
            .column
              .ui.card
                .image.dimmable
                  %img{:src => "/images/wireframe/image.png"}/
                .content
                  .header
                    = unit.title
                  .meta
                    %a.group> #{unit.category}
                    -#
                      ,
                      %a.group essays
                  .description
                    = raw markdown.render unit.content

                .extra.content
                  %a.right.floated.created{href: "http://twitter.com/SarupBanskota"} Argue over Twitter
                  = unit.votes
                  = link_to "Edit", edit_unit_path(unit)
      %br/
      -if user_signed_in? and current_user == @track.user
        .large.ui.button.unit Add another unit

    .ui.masthead.segment
      .ui.page.grid
        .column
          .ui.hidden.transition.information
            %p
              %i.india.flag>
              Hello from T432.
            %br/
            %br/
            %br/

.ui.modal.track
  %i.close.icon
  .header
    What's this track about?
  .content
    = render 'form'

.ui.modal.new.unit
  %i.close.icon
  .header
    What's this unit about?
  .content
    = render 'units/form'