= form_for(@unit) do |f|
  - if @unit.errors.any?
    #error_explanation
      %h2
        = pluralize(@unit.errors.count, "error")
        prohibited this unit from being saved:
      %ul
        - @unit.errors.full_messages.each do |msg|
          %li= msg

  .ui.massive.input.fluid.segment
    %h3 Title
    = f.text_field :title, autofocus: true, placeholder: "understanding databases, learning to communicate, organizing the party"
    %h3 Content
    = f.text_field :content, placeholder: "roses are red, you are blue, oh baby, you give me the flu"
    %h3 Categories
    = f.text_field :category, placeholder: "DIY"
    = f.hidden_field :track_id, value: @track.id
  = f.submit "ADD", {class: "ui right green basic button"}