-#
  = form_for(@unit) do |f|
    - if @unit.errors.any?
      #error_explanation
        %h2
          = pluralize(@unit.errors.count, "error")
          prohibited this unit from being saved:
        %ul
          - @unit.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :category
      %br/
      = f.text_field :category
    .field
      = f.label :level
      %br/
      = f.text_field :level
    .field
      = f.label :title
      %br/
      = f.text_field :title
    .field
      = f.label :content
      %br/
      = f.text_field :content
    .field
      = f.label :votes
      %br/
      = f.text_field :votes
      = f.hidden_field :track_id, value: @track.id
    .actions
      = f.submit