!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %title Koding
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{:href => "semantic.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "semantic.min.js"}
    = csrf_meta_tags

  %body
    = yield
    %p.notice= notice
    %p.alert= alert
